<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-light">
<header class="bg-warning-subtle py-3 position-relative">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <div class="d-flex align-items-center">
            <a href="/" class="d-flex align-items-center text-decoration-none text-dark">
                <img src="/img/burger-icon.png" alt="Logo" height="40" class="me-2" />
                <h4 class="mb-0 text-uppercase"><span class="fw-bold">burger</span>week</h4>
            </a>
        </div>

        <!-- Teléfono -->
        <div class="text-end d-none d-md-block position-absolute top-0 end-0 mt-2 me-3 small text-dark">
            <i class="bi bi-truck"></i> Express Delivery: +1 234 567 890
        </div>

        <!-- Navegación -->
        <nav>
            <ul class="nav text-uppercase">
                <li class="nav-item"><a class="nav-link text-dark fw-bold" href="/restaurantes/page">Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link text-dark fw-bold" href="/hamburguesas/page">Hamburguesas</a></li>
            </ul>
        </nav>
    </div>
</header>
